<div class="p-6 space-y-4">
  <div class="stats shadow">
    <div class="stat">
      <div class="stat-title">Ventas Totales</div>
      <div class="stat-value">$ {{ resumen.total }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Mesas Ocupadas</div>
      <div class="stat-value">{{ resumen.mesasOcupadas }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Pedidos Pendientes</div>
      <div class="stat-value">{{ resumen.pedidosPendientes }}</div>
    </div>
  </div>
</div>
